<!doctype html>
<html>

<head>
    <title>LED ON & OFF; GET TEMPERTURE</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta http-equiv="refresh" content="3">
</head>

<body>
	<h1>LED ON & OFF; GET TEMPERTURE</h1>
	<h3> TEMPERATURE &nbsp; ==>  {{ temp }} oC</h3>
        <h3> System Time: {{ time }} </a></h3>
	<hr>
	<h3> ON LED: ==> <a href="/led_light"class="button">LED_ON</a></h3>	
	<hr>
	<h3> OFF LED: ==> <a href="/led_close"class="button">LED_OFF</a></h3>	
	<hr>
	
	<p> @2018 Developed </p>
</body>

</html>







